@font-face {
    font-family: "Bw Gradual DEMO Regular";
    src: local("Bw Gradual DEMO Regular"),
        url("/fonts/BwGradualFont/BwGradualDEMO-Regular.otf") format("otf"),
        url("/fonts/BwGradualFont/AnyConv.com__BwGradualDEMO-Regular.woff") format("woff");
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* =====================================================*/

.wrapper {
    width: 100%;
    padding: 0 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}

.top__logo:hover {
    transform: scale(1.04);
}

.top__items {
    display: flex;
    align-items: center;
}

.top__items a {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 16px;
    padding: 10px 15px;
    border-radius: 51px;
    border: 1px solid #00EEDB;
}

.top__items a:hover {
    opacity: .5;
    transform: scale(1.04);
}

.top__name {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.main-conteiner {
    margin-bottom: 16px;
}

.main__background {
    position: relative;
    display: flex;
    align-items: center;
}

.main__background img {
    border-radius: 40px;
    width: 100%;
}

.main__article {
    position: absolute;
    left: 60px;
    color: #00EEDB;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 78px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
}

/* OUR SERVICES */
.services__info-block {
    border-radius: 50px;
    background: rgba(0, 238, 219, 0.15);
    padding: 70px 50px;
}

.title {
    font-family: "Bw Gradual DEMO Regular";
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.services__title {
    color: #006166;
    font-size: 48px;
    margin-bottom: 70px;
}

.services__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.services__item {
    border-radius: 90px 0px 0px 0px;
    opacity: 0.85;
    background: #FFF;
    padding: 40px;
}

.services__item span {
    color: #006166;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background-color: #00EEDB;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__item h2 {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-top: 40px;
}

.services__subtitle {
    color: #006166;
    text-align: center;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    padding: 50px 0;
}

/*    Our advantages     */

.advantages__container {
    border-radius: 50px;
    background: #006166;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 40px;
}

.advantages__info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.advantages__title {
    color: #00EEDB;
    font-size: 51px;
}

.advantages__subtitle {
    color: #00EEDB;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.046px;
}

/*    ABOUT US    */

.about__container {
    display: flex;
    padding: 50px 0;
    align-items: center;
}

.about__info-block {
    padding: 64px 70px;
}

.about__title {
    color: #006166;
    font-size: 51px;
    margin-bottom: 70px;
}

.about__items {
    display: grid;
    grid-template-columns: 1.4fr 1.3fr;
    gap: 60px;
}

.about__item h2 {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 30px;
}

.about__item span {
    color: #006166;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background-color: #00EEDB;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----OUR CLIENTS----- */
.clients__container {
    border-radius: 50px;
    background: rgba(0, 238, 219, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clients__info-block {
    padding: 70px 50px;
}

.clients__title {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.clients__subtitle {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.clients__btn-background {
    padding: 30px;
    position: relative;
    text-align: center;
}

.clients__btn-background img {
    position: absolute;
    top: -60%;
    right: 8%;
}

.btn {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    border-radius: 265px;
    background: #006166;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    transition: all .1s ease-out;
    box-shadow: 0 4px 6px rgba(0, 97, 102, .2);
}

.btn:hover {
    opacity: .8;
    transform: scale(1.04);
    box-shadow: 0 9px 9px rgba(7, 96, 101, .5);
}

/*----- footer -----*/
.footer__container {
    flex-shrink: 0;
    border-radius: 40px;
    background: #006166;
    padding: 50px;
}

.footer__logo img:hover {
    transform: scale(1.04);
}

.footer__info-block {
    display: flex;
    align-items: center;
    margin: 50px;
}

.footer__title {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-right: 100px;
}

.footer__contact {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-align: center;
    margin-left: 50px;
}

.footer__contact:hover {
    opacity: .8;
    transform: scale(1.04);
}

.footer__contact a {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.footer__name {
    display: inline-block;
    width: 100%;
}

.footer__name img {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 769px) {

    /* body {
        overflow: hidden;
        position: fixed;
    } */

    .top__items_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #00eedb;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 3;
    }

    .top__items_menu.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top__items_menu.active a {
        border-radius: 51px;
        border: 1px solid #006166;
    }

    .top__logo {
        margin-right: 125px;
        z-index: 5;
        position: sticky;
    }

    .top__title {
        font-size: 20px;
    }

    .top.open {
        position: absolute;
        left: -360px;
        top: 0;
        width: 360px;
        height: 642px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FEFEFE;
        z-index: 2;
        visibility: visible;
    }

    .main-conteiner__background {
        width: 353px;
        height: 288.214px;
    }

    .main-conteiner__article {
        width: 322px;
        font-family: "Bw Gradual DEMO Regular";
        font-size: 37px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.37px;
    }

    .main__article h1 {
        font-size: 37px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.37px;
    }

    .services__info-block {}

    .services__title {}

    .services__items {
        grid-template-columns: 1fr;
    }

    .advantages__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__container {
        flex-direction: column;
    }

    .about__items {
        grid-template-columns: 1fr;
    }

    .clients__container {
        flex-direction: column;
    }

    .clients__btn-background {}

    .clients__btn-background img {
        display: none;
    }

    .btn {
        /* width: 265px;
        height: 60px; */
        color: #FFF;
        font-family: Bw Gradual DEMO;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.22px;
    }


    /* .btn a {
        color: #FFF;
        font-family: "Bw Gradual DEMO Regular";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.22px;
    } */

    .footer {
        border-radius: 30px;
        background: #006166;
    }

    .footer__logo img {
        width: 50px;
        height: 50px;
    }

    .footer__info-block {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
        margin-bottom: 30px;
    }

    .footer__contact {
        text-align: left;
        margin-left: 0;
    }

    .footer__contact a {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.22px;
    }

    .footer__name {
        font-size: 42px;
        padding: 0;
    }
}