@font-face {
    font-family: "Bw Gradual DEMO Regular";
    src: local("Bw Gradual DEMO Regular"),
        url("/fonts/BwGradualFont/BwGradualDEMO-Regular.otf") format("otf"),
        url("/fonts/BwGradualFont/AnyConv.com__BwGradualDEMO-Regular.woff") format("woff");
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ==========================================================================*/

.wrapper {
    width: 100%;
    padding: 0 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}

.top__logo {}

.top__items {
    display: flex;
    align-items: center;
}

.top__items a {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 16px;
    padding: 10px 15px;
    border-radius: 51px;
    border: 1px solid #00EEDB;
}

.top__name {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.main-conteiner {
    margin-bottom: 16px;
}

.main__background {
    position: relative;
    display: flex;
    align-items: center;
}

.main__background img {
    border-radius: 40px;
}

.main__article {
    position: absolute;
    left: 60px;
    color: #00EEDB;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 78px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
}

/* OUR SERVICES */
.services__info-block {
    border-radius: 50px;
    background: rgba(0, 238, 219, 0.15);
    padding: 70px 50px;
}

.title {
    font-family: "Bw Gradual DEMO Regular";
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.services__title {
    color: #006166;
    font-size: 48px;
    padding: 70px 50px;
}

.services__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.services__item {
    border-radius: 90px 0px 0px 0px;
    opacity: 0.85;
    background: #FFF;
    padding: 40px;
}

.services__item span {
    color: #006166;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background-color: #00EEDB;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__item h2 {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    padding-top: 40px;
}

.services__subtitle {
    color: #006166;
    text-align: center;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.services__subtitle p {
    padding: 50px 0;
}

/*    Our advantages     */

.advantages__container {
    border-radius: 50px;
    background: #006166;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 40px;
}

.advantages__info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.advantages__title {
    color: #00EEDB;
    font-size: 51px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.advantages__subtitle {
    color: #00EEDB;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.046px;
    padding: 50px 50px 0 0;
}

/*    ABOUT US    */

.about__container {
    display: flex;
    padding: 50px 0;
    /* margin-bottom: 10px; */
}

.about__info-block {
    padding: 64px 70px;
}

.about__title {
    color: #006166;
    font-size: 51px;
}

.about__items {
    display: grid;
    grid-template-columns: 1.4fr 1.3fr;
    gap: 60px;
}

.about__item {
    padding: 70px 0;
}

.about__item h2 {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 30px;
}

.about__item span {
    color: #006166;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background-color: #00EEDB;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----OUR CLIENTS----- */
.clients__container {
    border-radius: 50px;
    background: rgba(0, 238, 219, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clients__info-block {
    padding: 70px 50px;
}

.clients__title {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.clients__subtitle {
    color: #006166;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.clients__btn-background {
    padding: 30px;
    position: relative;
    text-align: center;
}

.btn {
    border-radius: 265px;
    background: #006166;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 40%;
}

.btn a {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

/*----- footer -----*/
.footer__container {
    flex-shrink: 0;
    border-radius: 40px;
    background: #006166;

}

.footer__logo img {
    padding: 50px;
}

.footer__info-block {
    display: flex;
    align-items: center;
    padding: 50px;
}

.footer__title {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    padding-right: 100px;
}

.footer__contact {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-align: center;
    padding-left: 100px;
}

.footer__contact a {
    color: #FFF;
    font-family: "Bw Gradual DEMO Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.footer__name {
    padding: 50px;
    display: inline-block;
}

.footer__name img {
    width: 130 vh;
}


/* ---------------- */
.burger-btn {
    height: 30px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    transform: translate(130px, -25px);
}

.burger-btn span {
    width: 19px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.burger-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.burger-btn.active span:nth-of-type(1) {
    display: none;
}

.burger-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.burger-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.top__items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #006166;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.top__items.active {
    transform: translateX(0);
    z-index: 2;
    border-radius: 25px;
}

@media (max-width: 425px) {

    .top {}

    .top__items {
        display: none;
    }

    .top__logo {
        margin-right: 125px;
    }

    .top__title {
        font-size: 20px;
    }

    .top.open {
        position: absolute;
        left: -360px;
        top: 0;
        width: 360px;
        height: 642px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FEFEFE;
        z-index: 2;
        visibility: visible;
    }

    /* .main-conteiner__background {
        width: 353px;
        height: 288.214px;
    }

    .main-conteiner__article {
        width: 322px;
        font-family: "Bw Gradual DEMO Regular";
        font-size: 37px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.37px;
    }

    .footer {
        width: 350px;
        height: 326px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #006166;
    }

    .footer__logo img {
        width: 50px;
        height: 50px;
        margin: 20px 30px;
    }

    .footer__title {
        width: 203px;
        font-family: "Bw Gradual DEMO Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
    }

    .footer__content {
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .footer__content span {
        margin-bottom: 30px;
    }

    .footer__contact a {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.22px;
    }

    .footer__name {
        font-size: 42px;
        padding: 0;
    } */
}